{% extends 'TransitPass/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/TransitPass/submittedApplicationList.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Submitted Applications</h1>
    {% if num_applications == 0 %}
        <h1 id="in">There are no applications left for review.</h1>
    {% else %}
        <table>
            <tr id="heading">
                <th>Sno</th>
                <th>Application</th>
                <th>Journey Date</th>
            </tr>
            {% for application in applications %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ application.full_name }}</td>
                    <td>{{ application.doj }}</td>
                    <td>
                        <button class="mybutton"><a class="mya" href="/transit-pass/view-application/{{ application.id }}">Review</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}