body{
    background-color: tomato;
}
form{
    background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
    width: 50%;
    margin-left: 360px;
    border-radius: 40px;
    background-color:rgb(168, 219, 216);
}
.fom textarea{
    border: 0px;
    border-bottom: 2px solid rgb(68, 7, 87);
    background: transparent;
    padding: 7px;
    width: 380px;
}
.fom input{
    border: 0px;
    border-bottom: 2px solid rgb(68, 7, 87);
    background: transparent;
    padding: 7px;
    width: 380px;
}
h4{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    border-radius: 10px;
 background-color: teal;
    padding: 5px;
    margin-bottom: 10px;
    height: 3em;
    width: 6em;
    color: rgb(0, 0, 0);
}
