@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

body {
    
    margin: 0%;

}

.front{
    position: sticky;
    background-size: cover;
    margin: 0pt;
    height: 100%;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-template-rows: 3fr 5fr;
    background-image: url(../images/back.jpg);
}
.logo{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end: 2;
    
}
.but{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
    
}
.content{
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end: 3;
    

}

button{
    border-radius: 25px;
    padding: 5px;
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 80px;
    background-color: rgb(255, 38, 0);
    display: inline;

}
.one{
    margin-top: 20px;
    margin-right: 80px;
}
.two{
    margin-top: 20px;
    margin-right: 0px;
}

h1{
    margin-top: 4%;
    text-align: center;
    color: thistle;
    font-family: cursive;
    font-size: 50px;
}
img{
    margin-left: 30px;
    margin-top: 40px;
    height: 120px;
    width: 120px;
    border-radius: 80px;
    
}
.bot{
   
    padding: 5px;
    margin-top: 6%;
    margin-left: 3px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 38, 0);
    width: 230px;
    border-radius: 50px;
    height: 40px;
    float: left;
    padding-left: 10px;
    text-align: center;
    color: rgb(238, 238, 238);
}
.bot:hover{
    height: 400px;
    background-color: teal;
    width: 230px;
    margin-top: 0%;

}
.about{
    background-color: thistle;
}