h1,td,tr{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: #25d5da;
    font-weight: bold;
    font-size: 20px;
}
h1{
    color: tomato;
    font-size: 45px;
    font-weight:900;
    margin-top: 1em;
    margin-bottom: 30px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}
 
body{
    position: sticky;
    background-size: cover;
    margin: 0pt;
    padding: 0em;
    height: 100%;
    background-repeat: no-repeat;
    display: list-item;
    background-image: url('/static/img/back.jpg');
    overflow :scroll;
}

table{
     text-align: center;
     margin-left:25em;
     
 }
td{
    padding:1em;
}
form{
    overflow:scroll;
}
 
.mybutton,.mya{
    border-radius: 25px;
    border-width: 3px;
    border-color: wheat;
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(255, 38, 0);
    display: inline;
}
#outer{
    text-align: center;
}
img {
    border-radius: 8px;
    padding: 1px;
    width: 150px;
}